<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html>
<head>
    <title>Survey Form</title>
    <!-- Include Bootstrap CSS link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
    {% extends 'bootstrap/base.html' %}
    {% block content %}
    {% include "header.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/background.jpg')}}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <span class="subheading">Your results</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    
    <p>Your score results:</p>
    <ul>
        {% for result in results %}
        <li>
            <p>In the category {{ result['category'] }}, your score is {{ result['score'] }}</p>
        </li>
        {% endfor %}
    </ul>

    {% include "footer.html" %}
    {% endblock %}
</body>
</html>
